/* styles.css */

body {
    background: #dedfe0;
}

#image-container {
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-item {
    padding: 10px;
}

.image-item:hover {
    cursor: pointer;
    outline: 2px solid black;
}

.lightbox {
    position:absolute;
    margin: -25% 20% 10% 0%;
    display: flex;
    /*justify-content: space-around; */
    background: rgba(255, 255, 255, 0.9);
    width: calc(100% - 600px);
   /* height: 100vh;*/
    outline: 5px solid black;
    transition: 2s;
    transform: scale(1.8) translateX(150px) translateY(-100px);
}
.lightbox img {
    /*object-fit: contain; */
    height: 100%;
    width: 70%;
}
